# Solo permite scripts de paquetes en los que confías plenamente
never-run-scripts=false
only-built-dependencies[]=@nestjs/core
only-built-dependencies[]=esbuild
# Agrega estos para Prisma y Next.js
only-built-dependencies[]=prisma
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=sharp
only-built-dependencies[]=@next/swc-darwin-arm64 
only-built-dependencies[]=@mantine/core 



# Mantén tu regla de seguridad de 24 horas
minimum-release-age=1440